$spacer: 0.75rem;

$headings-color: $lightBlue;
$input-btn-padding-x: $spacer;
$input-btn-padding-y: 0.5rem;

$line-height-base: $kendo-line-height;
$modal-header-border-color: transparent;
$modal-inner-padding: 0;
$nav-link-padding-y: 1rem;
$nav-link-padding-x: $nav-link-padding-y;
$navbar-nav-link-padding-x: $nav-link-padding-x;
$table-cell-padding-x: 0.5rem;
$table-cell-padding-y: 0.25rem;
$tooltip-padding-x: $spacer;
$tooltip-padding-y: $tooltip-padding-x;

$kendo-checkbox-label-margin-x: 0.5rem;
$kendo-checkbox-lg-size: 2rem;
$kendo-checkbox-md-size: 1.5rem;
$kendo-checkbox-sm-size: 1rem;
$kendo-floating-label-focus-offset-y: -1px;
$kendo-grid-sorted-icon-spacing: 0.5rem;
$kendo-icon-spacing: 0.5rem;
$kendo-list-item-focus-shadow: none;
$kendo-list-item-padding-x: $nav-link-padding-x;
$kendo-list-item-padding-y: $nav-link-padding-y;
$kendo-list-md-item-padding-x: $spacer;
$kendo-list-md-item-padding-y: $spacer;
$kendo-menu-item-padding-x: $nav-link-padding-y;
$kendo-menu-item-padding-y: $kendo-menu-item-padding-x;
$kendo-menu-popup-item-padding-y: $nav-link-padding-y;
$kendo-menu-popup-md-item-padding-y: $nav-link-padding-y;
$kendo-selected-hover-text: $yellow;
$kendo-splitbar-bg: transparent;
$kendo-splitbar-hover-bg: $yellow;
$kendo-splitter-splitbar-size: 1rem;
$kendo-switch-on-track-text: $white;
$kendo-table-cell-horizontal-border-width: thin;
$kendo-table-cell-vertical-border-width: thin;
$kendo-tabstrip-content-focus-border: transparent;
$kendo-tabstrip-content-padding-x: 1rem;
$kendo-tabstrip-content-padding-y: $kendo-tabstrip-content-padding-x;
$kendo-toolbar-input-width: auto;
$kendo-window-inner-padding-x: 0;
$kendo-window-inner-padding-y: $kendo-window-inner-padding-x;
$kendo-window-title-line-height: normal;
$kendo-window-titlebar-bg: $blue;
$kendo-window-titlebar-text: $white;
